<%= form_for @workout do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        There were <%= pluralize(@workout.errors.count, "error") %>.
      </div>
      <ul>
        <% @workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= f.label :date %>
<%= f.date_field :date %>

<%= f.submit "AMRAP"%>
<%= f.submit "Rounds for Time"%>
<%= f.submit "Strength" %>

<% end %>
