<%= form_for @workout do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        There were <%= pluralize(@workout.errors.count, "error") %>.
      </div>
      <ul>
        <% @workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
<h4><%= f.label :date, "Enter Date:" %></h4>
<%= f.date_field :date, class: "form-control" %>
</div>


<div>
  <h4>Select Workout Type:</h4>
<%= f.submit "AMRAP", class: "btn btn-primary" %>
<%= f.submit "Rounds for Time", class: "btn btn-primary" %>
<%= f.submit "Strength", class: "btn btn-primary" %>
</div>

<% end %>
