<h3><%= @workout.date %></h3>
<h4><%= @workout.tracked %></h4>
<% if @workout.amrap %>
<h3>AMRAP</h3>
<p>Time: <%= @workout.amrap.time %> minutes</p>
<p>Score: <%= @workout.amrap.score %> rounds</p>
<% end %>
<% if @workout.user_id === current_user.id %>
<%= link_to 'Edit Workout', edit_workout_path(@workout) %>
<% end %>
