<h3><%= @workout.date.strftime("%A, %B %d, %Y") %></h3>
<% if @workout.user_id === current_user.id %>
<%= link_to 'Edit Workout', edit_workout_path(@workout) %>
<% end %>
<% if @workout.amrap %>
<% @workout.amrap.each do |amrap| %>
<h3>
  <% if amrap.name.present? %>
  <%= link_to "#{amrap.name} - #{amrap.time} Minute AMRAP", workout_amrap_path(@workout, amrap) %>
  <% else %>
  <%= link_to "#{amrap.time} Minute AMRAP", workout_amrap_path(@workout, amrap) %>
  <% end %>
</h3>
<p>Score:
  <%= amrap.score %>
  rounds <%= amrap.additional_reps %> reps</p>
<% end %>
<% end %>

<% if @workout.rft %>
<% @workout.rft.each do |rft| %>
<h3>
  <% if rft.name.present? %>
  <%= link_to "#{rft.name} - #{pluralize(rft.rounds, 'Round')} for Time", workout_rft_path(@workout, rft) %>
  <% else %>
  <%= link_to "#{pluralize(rft.rounds, 'Round')} for Time", workout_rft_path(@workout, rft) %>
  <% end %>
</h3>
<p>Score:
  <%= rft.score %>
  </p>
<% end %>
<% end %>

<% if @workout.strength %>
<% @workout.strength.each do |strength| %>
<h3><%= link_to strength.movement, workout_strength_path(@workout, strength) %></h3>
<p><%= "#{pluralize(strength.sets, 'Set')} of #{strength.reps}" %></p>
<% end %>
<% end %>
