<h3><%= link_to @strength.workout.date, workout_path(@strength.workout) %></h3>


<h3><%= @strength.sets %> X <%= @strength.reps %> <%= @strength.movement %> <%= @strength.weight %> lbs </h3>
<h4>Notes:</h4>
<p><%= @strength.notes %></p>
