<h3><%= link_to @workout.date.strftime("%A, %B %d, %Y"), workout_path(@workout) %></h3>
<h4><%= @strength.movement %></h4>

<h5><%= @strength.sets %> X <%= @strength.reps %> at <%= @strength.weight %> lbs </h5>
<%= link_to "Edit", edit_workout_strength_path(@workout, @strength) %>
<h4>Notes:</h4>
<p><%= @strength.notes %></p>
