<%= form_for([@amrap, @amrapmovement]) do |f| %>
<% if @amrapmovement.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      There were <%= pluralize(@amrapmovement.errors.count, "error") %>.
    </div>
    <ul>
      <% @amrapmovement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="rx-movement-inputs col-md-6 col-xs-6">
  <h4>RX</h4>
  <div class="form-group">
    <%= f.label :rx_reps, "Reps", class: "control-label" %>
    <%= f.number_field :rx_reps, placeholder: "Enter reps", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rx_movement, "Movement", class: "control-label" %>
    <%= f.text_field :rx_movement, placeholder: "Enter Movement", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rx_weight, "Weight", class: "control-label" %>
    <%= f.number_field :rx_weight, placeholder: "Enter Weight", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rx_unit, "Units", class: "control-label" %>
    <%= f.text_field :rx_unit, placeholder: "Enter Units", class: "form-control" %>
  </div>
</div>

<div class="scaled-movement-inputs col-md-6 col-xs-6">
  <h4>Scaled</h4>
  <div class="form-group">
    <%= f.label :scaled_reps, "Reps", class: "control-label" %>
    <%= f.number_field :scaled_reps, placeholder: "Enter reps", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :scaled_movement, "Movement", class: "control-label" %>
    <%= f.text_field :scaled_movement, placeholder: "Enter Movement", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :scaled_weight, "Weight", class: "control-label" %>
    <%= f.number_field :scaled_weight, placeholder: "Enter Weight", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :scaled_unit, "Units", class: "control-label" %>
    <%= f.text_field :scaled_unit, placeholder: "Enter Units", class: "form-control" %>
  </div>
</div>


  <%= f.submit yield(:button_text), class: "btn btn-success"%>
  <% if controller_name == 'amrapmovements' && action_name == 'edit' %>
  <%= link_to "Delete Movement", amrap_amrapmovement_path(@amrap, @amrapmovement), method: :delete, data: {confirm: "Are you sure you want to delete this workout?"}, class: "btn btn-danger" %>
  <% end %>
<% end %>
