<%= form_for([@workout, @amrap]) do |f| %>
  <% if @amrap.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        There were <%= pluralize(@amrap.errors.count, "error") %>.
      </div>
      <ul>
        <% @amrap.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, placeholder: "Enter workout name (if applicable)", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :time, class: "control-label" %>
    <%= f.text_field :time, placeholder: "Enter time to complete workout", class: "form-control" %>
  </div>
<div class="form-group">
  <%= f.label :score, class: "control-label" %>
  <%= f.number_field :score, placeholder: "Enter number of rounds completed", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :additional_reps, class: "control-label" %>
  <%= f.number_field :additional_reps, placeholder: "Enter any additional reps completed", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :notes, class: "control-label" %>
  <%= f.text_area :notes, placeholder: "Enter notes about workout", class: "form-control" %>
</div>

<div class="form-group">
<%= f.submit class: "btn btn-success" %>
<% if controller_name == 'amraps' && action_name == 'edit' %>
<%= link_to "Delete AMRAP", workout_amrap_path(@workout, @amrap), method: :delete, data: {confirm: "Are you sure you want to delete this workout?"}, class: "btn btn-danger" %>
<% end %>
</div>

<% end %>
