<%= form_for([@workout, @amrap]) do |f| %>
  <% if @amrap.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        There were <%= pluralize(@amrap.errors.count, "error") %>.
      </div>
      <ul>
        <% @amrap.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name %>

<%= f.label :time %>
<%= f.text_field :time %>

<%= f.label :score %>
<%= f.number_field :score %>

<%= f.label :additional_reps %>
<%= f.number_field :additional_reps %>

<%= f.label :notes %>
<%= f.text_area :notes %>

<%= f.submit %>

<% end %>
