<h3><%= link_to @rft.workout.date, workout_path(@rft.workout) %></h3>

<h4><%= @rft.name %> - <%= @rft.rounds %> Rounds for Time</h4>
<p>Score: <%= @rft.score %></p>

<% @rft.rftmovements.each do |movement| %>
<p>RX:
  <%= movement.rx_reps %>
  <%= movement.rx_movement %>
  <%= movement.rx_weight %>
  <%= movement.rx_unit %></p>
<p>Scaled:
  <%= movement.scaled_reps %>
  <%= movement.scaled_movement %>
  <%= movement.scaled_weight %>
  <%= movement.scaled_unit %></p>
<% end %>

<h4>Notes:</h4>
<p><%= @rft.notes %></p>
