<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutTracker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1><%= link_to "Crossfit Tracker", root_path %></h1>
        <nav>
          <% if logged_in? %>
          <%= link_to "Account", edit_user_path(current_user) %>
          <%= link_to "New Workout", new_workout_path %>
          <%= link_to "Logout", logout_path, method: :delete %>
          <% else %>
          <%= link_to "Login", login_path %>
          <% end %>
          <%= link_to "Barbell Math", weight_calculator_path %>
        </nav>
      </header>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
